{% extends "base.html" %}
{% block title %} Register | {{ block.super }} {% endblock %}
{% block content %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<h1>Register</h1>
		<form method="post" action="{% url 'register' %}">
		{% csrf_token %}
		<table>{{ form }}</table>

		<input type="submit" value="register" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
		<p>Did you want to <a href="{% url 'login' %}">Login</a></p>
	</div>
</div>

{% endblock %}